<%- if controller_name != 'sessions' %>
  <%= link_to "ログイン", new_session_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to "確認メールが届かないなら", new_user_confirmation_path(resource_name) %><br />
<% end -%>

<br>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  アカウントをお持ちでないですか？

  <br>

  <%= link_to "アカウントを作成", new_registration_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.omniauthable? %>


  <a href = "/users/auth/twitter" class="btn btn-block btn-social btn-twitter">
    <span class="fa fa-twitter"></span> Sign in with Twitter
  </a>

 <a href = "/users/auth/facebook" class="btn btn-block btn-social btn-facebook">
    <span class="fa fa-facebook"></span> Sign in with Facebook
  </a>

<% end -%>
