
<div class = containar>
  <div class = row>
    <div class = "col-md-4 col-md-offset-1">
      <% @users.each do |user| %>
      <%= user.name %>
      <%= profile_img(user)%>
      <% end %>
    </div>

    <div class = col-md-8>

    </div>

  </div>
</div>
